<div class="opacity-50 bg-dark modal d-block">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-primary opacity-100" style="width: 7rem; height: 7rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>