<nav class="navbar navbar-dark bg-dark navbar-expand-lg py-0">
    <div class="container">
        <a class="navbar-brand bg-brand py-3" href="/">
            <span class="fw-lighter text-black">Invoice Processing</span>
        </a>
    </div>
</nav>